# dependencies
node_modules/

# nextjs
.next/
out/

# build
dist/
build/

# env
.env
.env.local
.env.example

# mac
.DS_Store

# logs
*.log

# cache
.cache/

# vscode
.vscode/

# uploads
uploads/

# misc
*.zip
*.tar